/*reset*/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

ul, ol{
  list-style: none;
}

body {

  background-color: #0F0F0F;
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-y: hidden;


}

main#scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;

}

section.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*section 1*/

#home .content{
  display:flex;
  flex-direction: row;
}


.homeText {
  position: absolute;
  width: 80%;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
}


.content{
  margin: auto;
  position: relative;
  height: 100vh;
}

/*slide efft */

.homePhoto {
  animation-duration: 3s;
  animation-name: slidein;
}

/*Scroll-slide indicator*/


.lineScrll {
  width: 4px;
  height: 90px;
  background-image: linear-gradient(to    top, rgba(255, 255, 255, 0), #fff    100%);
  position: absolute;
  left: 2%;
  top: 85%;

}


.webScrll{

position: absolute;
left: 10px;
top: -4px;
font-weight: bold;

}

.mobileScrll {

display: none;

}


.insideScrll {
  width: 4px;
  height: 8px;
  background-color: black;
  position: absolute;
  animation: scrollSlide 2.4s ease-out infinite;
}

@keyframes scrollSlide {
  0% {
      top: -10%;
    opacity: 1;
 }
 47% {
   opacity: 0.8;
 }
 100% {
     top: 100%;
   opacity: 0.4;
 }
}

@keyframes slidein {
  from {
    margin-right: -30%;
  }

  to {
    margin-right: 0%;
  }
}

/*Animation scroll*/
@keyframes vertical{
    50%{
        bottom: 4vh;
    }
}

/*animation buttonInfo*/

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circulito {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes circulito360 {
  0% {
    right: 0;
    height: 100vh;
  }
  100% {
    height: 100vh;
    right: -1000px;
  }
}

/*navbar*/


.topnav {
  display: flex;
  justify-content: flex-end;;
  text-align: right;
  overflow: hidden;
  background-color: #0F0F0F;
}

.topnav a {
  display: block;
  color: #F3F3F3;
  text-align: center;
  font-weight: normal;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {

  font-weight: bold;
}

/*Back to previous*/

a.backTo {

  position: absolute;
  left: 0%;

}

.active {
  background-color: #0F0F0F;
  color: white;
}

.topnav2 .icon {
  display: none;
}


.rightLink {
position: absolute;
left: -1%
}

/*home text */

.homeName {
  font-size: 80px;
}

.homeSubName {
  font-size: 40px;
  font-weight: normal;
}

.proyectName {
  font-size: 80px;
}

.proyectDescription {
  font-size: 24px;
  font-weight: normal;
}

/*home photo*/

.homePhoto {
  height: 96vh;
  position: absolute;
  right: 0%;
  display: inline-block;
  z-index: -1;
}

/* Image sections */

.imageBlock{
    width: 46%;
    height: 100vh;
    position: absolute;
    left: 54%;

  background-position: 67% 85%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mockup1 {

    background-image: url(../images/mockup1.png);
    background-color: #4f4ae6;


}



.mockup2 {

    background-image: url(../images/mockup2.png);
    background-color: #2484ab;

}

.mockup3 {

    background-image: url(../images/mockup3.png);
    background-color: #239298;
    background-size: 110%;


}

/*text sections */

.boxText {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}


.btnInfo {
  width: 56px;
  height: 56px;
  border-style: solid;
  border-width: 9px;
  border-radius: 52%;
  border-color: #b307ff;
  background-color: red;
  position: absolute;
  top: 67%;
  left: 45%;
  animation: breathing 3s ease-out infinite normal;
}

.btnMock1
{
  border-color: #4f4ae6;
      background-color: #4f4ae6;
}

.btnMock2
{
  border-color: #2484ab;
      background-color: #2484ab;
}

.btnMock3
{
  border-color: #239298;
      background-color: #239298;
}

div.arrow {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  position: absolute;
  right: 47%;
  top: 88%;
  margin-top: -8px;
  border-width: 0 6px 6px 0;
  border-style: solid;
  border-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btnInfo span {
  position: absolute;
  color: white;
  font-size: 34px;
  font-weight: bold;
  top: 31%;
  left: 26%;
  margin-top: -13px;
}

.btnInfo span:hover {
animation: roll 3s linear infinite ;
font-size: 40px;
position: absolute;
top: 25%;
left: 24%;
}

.endPage {
  Position: absolute;
  color: #333333;
  top: 166%;
  left: 40%;
}

/*AboutMe*/

.aboutText {
  position: absolute;
  width: 95%;
  top: 10%;
}

.aboutClues {
    margin-top: 1%;
}

.aboutPhoto {
  height: 53vh;
  position: absolute;
  right: -23%;
  top: -29%;
  overflow: hidden;
}

.aboutName {
  font-size: 40px;
  padding: 16px 16px 8px 16px
}

.aboutSubName {
  font-size: 26px;
  padding: 22px 16px 8px 16px
}

.aboutSubName a {
  text-decoration: none;
}

.italicText {
  font-style: italic;
}

.talkTo {

  font-size: 26px;
  text-align: right;
  margin-bottom: 10%;
  margin-top: 5%;
}

.talkTo a{

  color: #F3F3F3;
  text-decoration: underline;

}
/* ARTICLES */



.bannerArticle {
  width: 100%;
    height: 100vh;
    position: absolute;
    left: 0%;
    background-position: 67% 85%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

.mockup1Art {

      background-image: url(../images/mockup1.png);
      background-color: #4f4ae6;


  }

.mockup2Art {

      background-image: url(../images/mockup2.png);
      background-color: #2484ab;

  }

.mockup3Art {

      background-image: url(../images/mockup3.png);
      background-color: #239298;
      background-size: 110%;


  }

  .fullscreenBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }

  .fullscreenbBgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-aspect-ratio: 16/9) {
    .fullscreenbBgVideo {
      height: 300%;
      top: -100%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    .fullscreenbBgVideo {
      width: 300%;
      left: -100%;
    }
  }

  @media (max-width: 767px) {
    .fullscreenbBg {
      background: url('../img/mockup1.png') center center / cover no-repeat;
    }


  }

.articleContainertName {
  position: absolute;
  width: 42%;
  top: 53%;
  left: 76%;

  }

.articleName {

  font-size: 35px;
  font-weight: bold;

}

.articleTextContainer {
  position: absolute;
  width: 90%;
  top: 28%;
  left: 5%;
    }
  .articleTextContainer p {
  font-size: 20px;
        }

.logoArticle {
  position: absolute;
  top: 35%;
  width: 40%;
  left: 5%;
}
.imageArticle {
  width: 50%;
  height: 25%;
  position: absolute;
  right: 0%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

    }
    .bgLeav {
      background-color: #4f4ae6;
    }
  .bgWave {
    background-color: #2484ab;
  }
  .bgAbc {
    background-color: #239298;
  }

.imageArticle.lea1 {
    top: 0%;
    background-image: url(../images/leavee/1.png);
    opacity: 0.7;

}

.imageArticle.lea2 {
    top: 25%;
        background-image: url(../images/leavee/2.png);
        opacity: 0.7;
}

.imageArticle.lea3 {
    top: 50%;
        background-image: url(../images/leavee/3.png);
        opacity: 0.7;
}

.imageArticle.lea4 {
    top: 75%;
        background-image: url(../images/leavee/4.png);
        opacity: 0.7;
}

.imageArticle.lea1:hover {
opacity: 1;
height: 80%;
z-index: 22;
}
.imageArticle.lea2:hover {
opacity: 1;
height: 80%;
z-index: 23;
top: 0%;

}
.imageArticle.lea3:hover {
opacity: 1;
height: 80%;
z-index: 24;
top: 0%;
}
.imageArticle.lea4:hover {
opacity: 1;
height: 80%;
z-index: 25;
top: 14%;
}

.tooltipArticle {
  position: absolute;
  width: 40%;
  bottom: 25%;
  left: 5%;
}

}

/*waveout*/

.imageArticle.wav1 {
    top: 0%;
    opacity: 0.7;

}

.imageArticle.wav2 {
    top: 25%;
        background-image: url(../images/waveout/2.png);
        opacity: 0.7;
}

.imageArticle.wav3 {
    top: 50%;
        background-image: url(../images/waveout/3.png);
        opacity: 0.7;
}

.imageArticle.wav4 {
    top: 75%;
        background-image: url(../images/waveout/4.png);
        opacity: 0.7;
}

.imageArticle.wav1:hover {
opacity: 1;
height: 80%;
z-index: 22;
}
.imageArticle.wav2:hover {
opacity: 1;
height: 80%;
z-index: 23;
top: 0%;

}
.imageArticle.wav3:hover {
opacity: 1;
height: 80%;
z-index: 24;
top: 0%;
}
.imageArticle.wav4:hover {
opacity: 1;
height: 80%;
z-index: 25;
top: 14%;
}

/*ABC*/

.imageArticle.abc1 {
    top: 0%;
    background-image: url(../images/abc/1.png);
    opacity: 0.7;

}

.imageArticle.abc2 {
    top: 25%;
        background-image: url(../images/abc/2.png);
        opacity: 0.7;
}

.imageArticle.abc3 {
    top: 50%;
        background-image: url(../images/abc/3.png);
        opacity: 0.7;
}

.imageArticle.abc4 {
    top: 75%;
        background-image: url(../images/abc/4.png);
        opacity: 0.7;
}

.imageArticle.abc1:hover {
opacity: 1;
height: 80%;
z-index: 22;
}
.imageArticle.abc2:hover {
opacity: 1;
height: 80%;
z-index: 23;
top: 0%;

}
.imageArticle.abc3:hover {
opacity: 1;
height: 80%;
z-index: 24;
top: 0%;
}
.imageArticle.abc4:hover {
opacity: 1;
height: 80%;
z-index: 25;
top: 14%;
}


/*colors*/
.spotifyC {
  color: #1db954;
}
.ucaC {
  color: #E87B00;
}
.creativityC {
    color: #ed2124;
}

.ironhackC {
    color: #32c3ff;
}
.spotify:hover {
  color: #147937;
  text-decoration-line: underline;
  text-decoration-color: #F3F3F3;
}

.aboutMore {
  font-size: 20px;
  font-weight: normal;
  padding: 0px 16px 8px 16px
}


/*grid system */

@media  (max-width: 864px) {
    .homePhotoControlx {
      overflow-x: hidden;
    }

    .homePhoto {
      animation: none;
      height: 96vh;
      position: absolute;
      right: 0%;
      z-index: -1;
    }

    .mainContent {
      grid-column: span 6;
    }
    .homeName {
      font-size: 60px;
      background-color: #0F0F0F60;
      padding: 24px 24px 16px 24px
    }
    .homeSubName {
      font-size: 36px;
      background-color: #0F0F0F60;
      padding: 0px 24px 16px 24px
    }

    .lineScrll {
      left: 6%;
    }



      .btnInfo {
        position: absolute;
        top: 77%;
        left: 76%;
    }

    div.arrow {
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        position: absolute;
        right: 20%;
        top: 45%;
        margin-top: -8px;
        border-width: 0 4px 4px 0;
        border-style: solid;
        border-color: white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .btnInfo span {
        position: absolute;
        color: white;
        top: 32%;
        left: 26%;
      }

      .proyectName {
        font-size: 50px;
      }

      .proyectDescription {
        font-size: 18px;
        font-weight: normal;
      }

      .imageBlock{
          width: 100%;
          height: 55vh;
          position: absolute;
          left: 0%;
          background-size: contain;

      }

      .boxText {
        position: absolute;
        width: 90%;
        top: 66%;
        left: 5%;
        transform: translateY(-50%);
      }

      .aboutName {
        font-size: 26px;
      }

      .aboutSubName {
        font-size: 20px;
      }

      .talkTo {

        font-size: 20px;

      }

}
@media (max-width: 480px) {

  .homePhotoControlx {
    overflow-x: hidden;
  }

  .homePhoto {
  animation: none;
  height: 96vh;
  left: -50%;

  }

  .navigationMenu {
    grid-column: span 6;
  }
  .mainContent {
    grid-column: span 6;
  }

  .homeName {
    font-size: 40px;
    background-color: #0F0F0F60;
    padding: 16px 16px 8px 16px
  }

  .homeSubName {
    font-size: 20px;
    background-color: #0F0F0F60;
    padding: 0px 16px 8px 16px
  }

  .lineScrll {
    left: 6%;
  }


  .btnInfo {
    position: absolute;
    top: 77%;
    left: 76%;
}

div.arrow {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    right: 20%;
    top: 45%;
    margin-top: -8px;
    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .btnInfo span {
    position: absolute;
    color: white;
    top: 32%;
    left: 26%;
  }

  .proyectName {
    font-size: 50px;
  }

  .proyectDescription {
    font-size: 18px;
    font-weight: normal;
  }

  .imageBlock{
      width: 100%;
      height: 55vh;
      position: absolute;
      left: 0%;
      background-size: contain;

  }

  .boxText {
    position: absolute;
    width: 90%;
    top: 66%;
    left: 5%;
    transform: translateY(-50%);
  }

  .endPage {
    left: 26%;
    top: 165%;
  }
  .aboutName {
    font-size: 20px;
  }

  .aboutSubName {
    font-size: 18px;
  }

  .talkTo {

    font-size: 18px;
  }

}


@media screen and (max-device-width: 823px) {

  body {
    overflow-y: auto;
  }

  main#scroll {
    overflow-y: auto;
  }

  .homePhotoControlx {
    overflow: hidden;
  }

  .homePhoto {
  animation: none;
  height: 95vh;
  position: absolute;
  top: 6%;
  z-index: -1;
  overflow: hidden;
  }

  .navigationMenu {
    grid-column: span 12;
  }
  .mainContent {
    grid-column: span 12;
  }

  .homeText {
    right: 10%;
  }

  .homeName {
    font-size: 88px;
    background-color: #0F0F0F60;
    padding: 16px 16px 8px 16px
  }

  .homeSubName {
    font-size: 40px;
    background-color: #0F0F0F60;
    padding: 0px 16px 8px 16px
  }

  .boxText {
    position: absolute;
    width: 90%;
    top: 70%;
    left: 5%;
    transform: translateY(-50%);
  }

  .imageBlock{
      width: 100%;
      height: 55vh;
      position: absolute;
      left: 0%;

  }

  .btnInfo {
    width: 126px;
    height: 126px;
    border-width: 18px;
    position: absolute;
    top: 85%;
    left: 76%;
  }

  .btnInfo span {
    font-size: 73px;
    font-weight: bold;
    top: 19%;
    left: 26%;
  }

  .btnInfo span:hover {
  animation: none;
  font-size: 73px;
  top: 19%;
  left: 26%;
  }


  .proyectName {
    font-size: 80px;
  }

  .proyectDescription {
    font-size: 36px;
    font-weight: normal;
  }
  .lineScrll {
    width: 11px;
    height: 262px;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    left: 10%;
    top: 85%;
  }

  .insideScrll {
    width: 11px;
    height: 14px;
    animation: scrollSlide 2.4s ease-out infinite reverse;
  }



  .mobileScrll {

    display: inline-block;
    font-size: 33px;
    position: absolute;
    left: 26px;
    top: -4px;
    font-weight: bold;
  }


  .webScrll {

    display: none;
  }

  section.page {
    padding-top: 52px;
  }

  .topnav {
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    font-size: 80px;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    margin-top: 60px;
    z-index: 10
  }

  .topnav2 {
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    font-size: 80px;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: #0F0F0F;
    z-index: 12
  }

  .topnav a {
    text-align: right;
  }

  .topnav-animation {
    animation: circulito360 0.75s ease-in;
  }

a.lul {
  padding: 0;
  opacity: 0;
  height: 0px;
  font-size: 80px;

}

  .topnav .icon {
    display: block;
    top: 0 ;
      right: 0;
      font-size: 85px;
      padding: 14px 16px;
      text-align: right;

  }

  .topnav2 .icon {
    display: block;
    top: 0 ;
      right: 0;
      font-size: 85px;
      padding: 14px 16px;
      text-align: right;

  }

  .topnav.responsive{
     position: fixed;
     right: 0;
    height: 100vh;
    animation: circulito 0.45s ease-in;
    margin-bottom: 80px;

   }
   .topnav.responsive a {
     text-align: right;

   }

   a.fix{
     opacity: 1;
     height: auto;
      margin-top: 20%;
     padding: 0px 54px;
   }

  .endPage {
    font-size: 31px;
    top: 170%;
    left: 32%;
  }

  a.backTo {

    position: absolute;
    right: 0%;
    margin-top: 20%;

  }

  /*AboutmeMobile*/

  .aboutText {
    position: absolute;
    width: 95%;
    top: 6%;
  }

  .aboutClues {
      margin-top: 1%;
  }
  .aboutName {
    font-size: 80px;
    padding: 16px 16px 8px 16px
  }

  .aboutSubName {
    font-size: 46px;
    padding: 85px 16px 8px 16px
  }

  .talkTo {

    font-size: 46px;
    padding: 22px 16px 8px 16px;
    text-align: right;
  }
}



/*OLD
@media screen and (max-device-width: 823px) {

  .homePhoto {
  animation: none;
  height: 98vh;
  float: none;

  }

  .navigationMenu {
    grid-column: span 12;
  }
  .mainContent {
    grid-column: span 12;
  }

  .homeName {
    font-size: 88px;
    background-color: #0F0F0F60;
    padding: 16px 16px 8px 16px
  }

  .homeSubName {
    font-size: 40px;
    background-color: #0F0F0F60;
    padding: 0px 16px 8px 16px
  }

  .btnContainer {
    width: 164px;
    height: 82px;
    position: absolute;
    top: 110%;
    left: 51%;
}

div.arrow {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    position: absolute;
    right: 15%;
    top: 40%;
    margin-top: -8px;
    border-width: 0 6px 6px 0;
    border-style: solid;
    border-color: white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .btnContainer span {
    position: absolute;
    color: white;
    font-size: 28px;
    top: 44%;
    left: -8%;
    margin-top: -13px;
  }

  .proyectName {
    font-size: 80px;
  }

  .proyectDescription {
    font-size: 36px;
    font-weight: normal;
  }
}

*/



/*body*/
